.navStyle {
    background-color: var(--sjw-theme-850);
    
}

.nav-item {
    --bs-navbar-hover-color: var(--sjw-theme-400);   
    --bs-nav-link-hover-color: var(--sjw-theme-400);
}

::deep form .form-control {
    background-color: var(--sjw-theme-600);
    
}