@* MovieCardComponent *@


<div class="movieCard card h-100">
    <img src="/img/posterplaceholder.png" class="card-img-top" alt="Movie Poster Placeholder" />
    <div class="card-body border border-top">
        <div class="card-title fw-bold 1h-1">@*1h-1 = line height 1*@
            <h5 class="card-title">
                Movie Title
            </h5>
        </div>
        <div class="card-text 1h-1 fst-italic">
            <span class="badge bg-primary">Release Date: May 9, 2025</span>
        </div>
    </div>
    <div class="card-footer  movieCardFooter d-flex justify-content-between">
        <button class="btn btn-outline-primary"> Add To Favorites</button>
        <a href="moviedetails" class="btn btn-primary">Details</a>
    </div>
</div>


@code {

}
