@* <h3>Favorites</h3> *@
@page "/favorites"

<PageTitle>Favorites</PageTitle>
<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-heart-fill text-danger"></i>
        Favorite Movies
    </h1>
    <p class="lead italic">
        Your Personalized Movie List
    </p>
</div>

@code {

}
