@* MovieDetais*@
@page "/movie/{movieId:int}"
@inject TMDBClientService TMDBClientService
@inject NavigationManager _navManager
<PageTitle>Movie Details</PageTitle>
<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-film text-primary"></i>
        Movie Details - @MovieId
    </h1>
    <p class="lead italic">
        Movie details and information
    </p>
    @* @if (movie is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            @if (isLoading)
            {
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            else
            {
                <h2>No Movie Found</h2>
            }
        </div>
    }
    else
    {
        <MovieDetailsComponent Movie="movie" />
    }
 *@

</div>


@code {
    [Parameter]
    public int MovieId { get; set; }
    
    private Movie? movie;

    private bool isLoading = true;
    }
