@* MovieDetais*@
@page "/movie/{movieId:int}"
@inject TMDBClientService TMDBClientService
@inject NavigationManager _navManager
<PageTitle>Movie Details</PageTitle>

<div class="container-xxl py-3">
    

</div>


@code {
    [Parameter]
    public int MovieId { get; set; }

    private MovieDetails? movie;

    private bool isLoading = true;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            isLoading = true;
            movie = await TMDBClientService.GetMovieDetailsAsync(MovieId);
            isLoading = false;
        }
        catch (Exception ex)
        {

            Console.WriteLine($"Error fetching movie details: {ex.Message}");
        }
        finally
        {
            // Ensure loading state is reset even if an error occurs
            isLoading = false;
        }
    }
}
